{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
    div { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; display: flex; flex-direction: column;}
    button {
        margin: auto;
    }
</style>

<div >
    <h1>Bienvenue cher client</h1>
    <h2>Venez visiter la nouvelle boutique d'articles en cliquant <a href="{{ path("app_article") }}">ICI</a> !</h2>
</div>
{% endblock %}
