{% block body %}

<nav>
    <a href="{{ path("app_home") }}">Home</a>
    <a href="{{ path("app_article") }}">Article</a>
    <a href="{{ path("app_utilisateur") }}">Utilisateur</a>
</nav>

<style>
    nav {
        color: blue;
        display: flex;
        justify-content: center;
        font-size: larger;
        gap: 35px;
    }
</style>

{% endblock %}