{% block body %}

<nav>
    <a href="{{ path("app_home") }}">Home</a>
    <a href="{{ path("app_article") }}">Article</a>
    <a href="{{ path("app_utilisateur") }}">Utilisateur</a>
</nav>

<style>
    nav {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        gap: 35px;
        background-color: #4A0FF2CC;
        height: 80px;
    }
    nav {
        font: 18px/1.5 sans-serif;
    }

    a {
        color: white;
        text-decoration: none;
        margin: none;
    }
</style>

{% endblock %}