{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .articles {
        display: flex;
        flex-wrap: wrap;
        width: 80vw;
        justify-content: center;
        margin: auto;
        gap: 36px;
    }
</style>

<div class="articles">
    {% for article in articles %}
        {% include "/composants/_card_article.html.twig" with { article: article } %}
    {% endfor %}
</div>
{% endblock %}
